# Carga de datos

This notebook was develop in order build a unique dataset

## Packages

In [2]:
import pandas as pd

## Configuration

In [3]:
CLASE0_URL = 'https://drive.google.com/uc?id=1zTfaMnJ-TUbmLpDUkNC5o2mqaZSSG6r5'
CLASE1_URL = 'https://drive.google.com/uc?id=13wE_QivGj1KzprzGxtDn9aDmErawrS-y'
CLASE2_URL = 'https://drive.google.com/uc?id=1cQYrVCXAVu_hzwnGOTImpTLowbIMaJzx'
CLASE3_URL = 'https://drive.google.com/uc?id=1uwx82bpAHqib7rNCFA7tVby80UkQ1UGo'

## Dataset fetch

In [5]:
Clase0 = pd.read_csv(CLASE0_URL)
Clase1 = pd.read_csv(CLASE1_URL)
Clase2 = pd.read_csv(CLASE2_URL)
Clase3 = pd.read_csv(CLASE3_URL)

In [6]:
Clase0.columns =['Sensor1_1', 'Sensor1_2', 'Sensor1_3', 'Sensor1_4', 'Sensor1_5', 'Sensor1_6', 'Sensor1_7', 'Sensor1_8',
                'Sensor2_1', 'Sensor2_2', 'Sensor2_3', 'Sensor2_4', 'Sensor2_5', 'Sensor2_6', 'Sensor2_7', 'Sensor2_8',
                'Sensor3_1', 'Sensor3_2', 'Sensor3_3', 'Sensor3_4', 'Sensor3_5', 'Sensor3_6', 'Sensor3_7', 'Sensor3_8',
                'Sensor4_1', 'Sensor4_2', 'Sensor4_3', 'Sensor4_4', 'Sensor4_5', 'Sensor4_6', 'Sensor4_7', 'Sensor4_8',
                'Sensor5_1', 'Sensor5_2', 'Sensor5_3', 'Sensor5_4', 'Sensor5_5', 'Sensor5_6', 'Sensor5_7', 'Sensor5_8',
                'Sensor6_1', 'Sensor6_2', 'Sensor6_3', 'Sensor6_4', 'Sensor6_5', 'Sensor6_6', 'Sensor6_7', 'Sensor6_8',
                'Sensor7_1', 'Sensor7_2', 'Sensor7_3', 'Sensor7_4', 'Sensor7_5', 'Sensor7_6', 'Sensor7_7', 'Sensor7_8',
                'Sensor8_1', 'Sensor8_2', 'Sensor8_3', 'Sensor8_4', 'Sensor8_5', 'Sensor8_6', 'Sensor8_7', 'Sensor8_8', 'GESTURE_CLASS'] 

Clase1.columns =['Sensor1_1', 'Sensor1_2', 'Sensor1_3', 'Sensor1_4', 'Sensor1_5', 'Sensor1_6', 'Sensor1_7', 'Sensor1_8',
                'Sensor2_1', 'Sensor2_2', 'Sensor2_3', 'Sensor2_4', 'Sensor2_5', 'Sensor2_6', 'Sensor2_7', 'Sensor2_8',
                'Sensor3_1', 'Sensor3_2', 'Sensor3_3', 'Sensor3_4', 'Sensor3_5', 'Sensor3_6', 'Sensor3_7', 'Sensor3_8',
                'Sensor4_1', 'Sensor4_2', 'Sensor4_3', 'Sensor4_4', 'Sensor4_5', 'Sensor4_6', 'Sensor4_7', 'Sensor4_8',
                'Sensor5_1', 'Sensor5_2', 'Sensor5_3', 'Sensor5_4', 'Sensor5_5', 'Sensor5_6', 'Sensor5_7', 'Sensor5_8',
                'Sensor6_1', 'Sensor6_2', 'Sensor6_3', 'Sensor6_4', 'Sensor6_5', 'Sensor6_6', 'Sensor6_7', 'Sensor6_8',
                'Sensor7_1', 'Sensor7_2', 'Sensor7_3', 'Sensor7_4', 'Sensor7_5', 'Sensor7_6', 'Sensor7_7', 'Sensor7_8',
                'Sensor8_1', 'Sensor8_2', 'Sensor8_3', 'Sensor8_4', 'Sensor8_5', 'Sensor8_6', 'Sensor8_7', 'Sensor8_8', 'GESTURE_CLASS'] 

Clase2.columns =['Sensor1_1', 'Sensor1_2', 'Sensor1_3', 'Sensor1_4', 'Sensor1_5', 'Sensor1_6', 'Sensor1_7', 'Sensor1_8',
                'Sensor2_1', 'Sensor2_2', 'Sensor2_3', 'Sensor2_4', 'Sensor2_5', 'Sensor2_6', 'Sensor2_7', 'Sensor2_8',
                'Sensor3_1', 'Sensor3_2', 'Sensor3_3', 'Sensor3_4', 'Sensor3_5', 'Sensor3_6', 'Sensor3_7', 'Sensor3_8',
                'Sensor4_1', 'Sensor4_2', 'Sensor4_3', 'Sensor4_4', 'Sensor4_5', 'Sensor4_6', 'Sensor4_7', 'Sensor4_8',
                'Sensor5_1', 'Sensor5_2', 'Sensor5_3', 'Sensor5_4', 'Sensor5_5', 'Sensor5_6', 'Sensor5_7', 'Sensor5_8',
                'Sensor6_1', 'Sensor6_2', 'Sensor6_3', 'Sensor6_4', 'Sensor6_5', 'Sensor6_6', 'Sensor6_7', 'Sensor6_8',
                'Sensor7_1', 'Sensor7_2', 'Sensor7_3', 'Sensor7_4', 'Sensor7_5', 'Sensor7_6', 'Sensor7_7', 'Sensor7_8',
                'Sensor8_1', 'Sensor8_2', 'Sensor8_3', 'Sensor8_4', 'Sensor8_5', 'Sensor8_6', 'Sensor8_7', 'Sensor8_8', 'GESTURE_CLASS'] 

Clase3.columns =['Sensor1_1', 'Sensor1_2', 'Sensor1_3', 'Sensor1_4', 'Sensor1_5', 'Sensor1_6', 'Sensor1_7', 'Sensor1_8',
                'Sensor2_1', 'Sensor2_2', 'Sensor2_3', 'Sensor2_4', 'Sensor2_5', 'Sensor2_6', 'Sensor2_7', 'Sensor2_8',
                'Sensor3_1', 'Sensor3_2', 'Sensor3_3', 'Sensor3_4', 'Sensor3_5', 'Sensor3_6', 'Sensor3_7', 'Sensor3_8',
                'Sensor4_1', 'Sensor4_2', 'Sensor4_3', 'Sensor4_4', 'Sensor4_5', 'Sensor4_6', 'Sensor4_7', 'Sensor4_8',
                'Sensor5_1', 'Sensor5_2', 'Sensor5_3', 'Sensor5_4', 'Sensor5_5', 'Sensor5_6', 'Sensor5_7', 'Sensor5_8',
                'Sensor6_1', 'Sensor6_2', 'Sensor6_3', 'Sensor6_4', 'Sensor6_5', 'Sensor6_6', 'Sensor6_7', 'Sensor6_8',
                'Sensor7_1', 'Sensor7_2', 'Sensor7_3', 'Sensor7_4', 'Sensor7_5', 'Sensor7_6', 'Sensor7_7', 'Sensor7_8',
                'Sensor8_1', 'Sensor8_2', 'Sensor8_3', 'Sensor8_4', 'Sensor8_5', 'Sensor8_6', 'Sensor8_7', 'Sensor8_8', 'GESTURE_CLASS']

In [7]:
Clase0.head()

,Sensor1_1,Sensor1_2,Sensor1_3,Sensor1_4,Sensor1_5,Sensor1_6,Sensor1_7,Sensor1_8,Sensor2_1,Sensor2_2,...,Sensor7_8,Sensor8_1,Sensor8_2,Sensor8_3,Sensor8_4,Sensor8_5,Sensor8_6,Sensor8_7,Sensor8_8,GESTURE_CLASS
0,-47.0,-6.0,-5.0,-7.0,13.0,-1.0,35.0,-10.0,10.0,-4.0,...,-25.0,47.0,6.0,6.0,5.0,13.0,21.0,111.0,15.0,0
1,-19.0,-8.0,-8.0,-8.0,-21.0,-6.0,-79.0,12.0,0.0,5.0,...,-83.0,7.0,7.0,1.0,-8.0,7.0,21.0,114.0,48.0,0
2,2.0,3.0,0.0,2.0,0.0,22.0,106.0,-14.0,-16.0,-2.0,...,-38.0,-11.0,4.0,7.0,11.0,33.0,39.0,119.0,43.0,0
3,6.0,0.0,0.0,-2.0,-14.0,10.0,-51.0,5.0,7.0,0.0,...,38.0,-35.0,-8.0,2.0,6.0,-13.0,-24.0,-112.0,-69.0,0
4,15.0,-5.0,-5.0,-15.0,12.0,-22.0,-38.0,36.0,9.0,6.0,...,-26.0,5.0,6.0,6.0,11.0,5.0,30.0,-48.0,25.0,0

In [8]:
print('Clase0.shape = ',Clase0.shape)
print('Clase1.shape = ',Clase1.shape)
print('Clase2.shape = ',Clase2.shape)
print('Clase3.shape = ',Clase3.shape)

Clase0.shape =  (2909, 65)
Clase1.shape =  (2902, 65)
Clase2.shape =  (2942, 65)
Clase3.shape =  (2921, 65)

In [9]:
complete_dataframe = pd.concat([Clase0, Clase1, Clase2, Clase3], axis=0)
print('complete_dataframe.shape = ', complete_dataframe.shape)

complete_dataframe.shape =  (11674, 65)

In [10]:
complete_dataframe.head()

,Sensor1_1,Sensor1_2,Sensor1_3,Sensor1_4,Sensor1_5,Sensor1_6,Sensor1_7,Sensor1_8,Sensor2_1,Sensor2_2,...,Sensor7_8,Sensor8_1,Sensor8_2,Sensor8_3,Sensor8_4,Sensor8_5,Sensor8_6,Sensor8_7,Sensor8_8,GESTURE_CLASS
0,-47.0,-6.0,-5.0,-7.0,13.0,-1.0,35.0,-10.0,10.0,-4.0,...,-25.0,47.0,6.0,6.0,5.0,13.0,21.0,111.0,15.0,0
1,-19.0,-8.0,-8.0,-8.0,-21.0,-6.0,-79.0,12.0,0.0,5.0,...,-83.0,7.0,7.0,1.0,-8.0,7.0,21.0,114.0,48.0,0
2,2.0,3.0,0.0,2.0,0.0,22.0,106.0,-14.0,-16.0,-2.0,...,-38.0,-11.0,4.0,7.0,11.0,33.0,39.0,119.0,43.0,0
3,6.0,0.0,0.0,-2.0,-14.0,10.0,-51.0,5.0,7.0,0.0,...,38.0,-35.0,-8.0,2.0,6.0,-13.0,-24.0,-112.0,-69.0,0
4,15.0,-5.0,-5.0,-15.0,12.0,-22.0,-38.0,36.0,9.0,6.0,...,-26.0,5.0,6.0,6.0,11.0,5.0,30.0,-48.0,25.0,0

## Dataset cleaning

In [11]:
complete_dataframe.isna().sum()

Sensor1_1        0
Sensor1_2        0
Sensor1_3        0
Sensor1_4        0
Sensor1_5        0
                ..
Sensor8_5        0
Sensor8_6        0
Sensor8_7        0
Sensor8_8        0
GESTURE_CLASS    0
Length: 65, dtype: int64

In [12]:
complete_dataframe.dropna(inplace=True)    # no aplica, no hay datos NA

In [13]:
complete_dataframe.shape

(11674, 65)

## Dataset consolidado

In [14]:
complete_dataframe.to_csv('gesture_df_complete.csv', index = False)